{% extends "main/base.html" %}
{% block content %}
<div class="content-section">
    <h1>Untitled PC Store</h1>
    <h3>What we do:</h3>
    <ul style="list-style-type: none;">
        <li>We strive to provide everyone the ability to get the perfect computer withouth the need to build one yourself.
            You can theory craft all the part and we will build it and send it to you.
        </li>
    </ul>
    <h3>Founder:</h3>
    <ul style="list-style: none;">
        <li>Marius Bieliauskas</li>
    </ul>
    <h3>Contacts:</h3>
    <ul style="list-style-type: none;">
        <li>Email - gokajak821@mailmyrss.com</li>
        <li>Phone Number - +370-655-5908-8</li>
    </ul>
    <h3>Headquarters:</h3>
    <ul style="list-style: none;">
        <li>Ramygalos g. 151, LT-36220</li>
        <li>Vilnius, Lithuania</li>
    </ul>
</div>
{% endblock content %}