{% extends "main/base.html" %}
{% block content %}
<div class="content-section" style="padding-bottom:50px;">
    <div>
        <ul class="cNav">
            <li class="cNavli"><a class="cNavlia" href="{% url 'store-catalog' itemType='cpu' %}">CPUs</a></li>
            <li class="cNavli"><a class="cNavlia" href="{% url 'store-catalog' itemType='gpu' %}">GPUs</a></li>
            <li class="cNavli"><a class="cNavlia" href="{% url 'store-catalog' itemType='motherboard' %}">Motherboards</a></li>
            <li class="cNavli"><a class="cNavlia" href="{% url 'store-catalog' itemType='ram_set' %}">Ram Sets</a></li>
            <li class="cNavli"><a class="cNavlia" href="{% url 'store-catalog' itemType='psu' %}">PSUs</a></li>
            <li class="cNavli"><a class="cNavlia" href="{% url 'store-catalog' itemType='storage' %}">Storage</a></li>
            <li class="cNavli"><a class="cNavlia" href="{% url 'store-catalog' itemType='case' %}">Cases</a></li>
            <li class="cNavli"><a class="cNavlia" href="{% url 'store-catalog' itemType='cpu_cooler' %}">CPU Coolers</a></li>
            <li class="cNavli"><a class="cNavlia" href="{% url 'store-catalog' itemType='optical_drive' %}">Optical Drives</a></li>
            <li class="cNavli"><a class="cNavlia" href="{% url 'store-catalog' itemType='sound_card' %}">Sound Cards</a></li>
            <li class="cNavli"><a class="cNavlia" href="{% url 'store-catalog' itemType='monitor' %}">Monitors</a></li>
        </ul>
    </div>
    <div class="pagination">
        {% if parts.has_previous %}
            <a href="?page=1"><< &nbsp; </a>
            <a href="?page={{ parts.previous_page_number }}">< &nbsp; </a>
        {% endif %}
        {% for num in parts.paginator.page_range %}
            {% if parts.number == num %}
                <strong><a href="?page={{ num }}">{{ num }}</a></strong>
            {% elif num > parts.number|add:'-3' and num < parts.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if parts.has_next %}
            <a href="?page={{ parts.next_page_number }}"> &nbsp; > &nbsp; </a>
            <a href="?page={{ parts.paginator.num_pages }}">>></a>
        {% endif %}
    </div>

    <div class="row">
        {% for part in parts %}
        <a href="?itemID={{ part.id }}" class="catalogLink">
            <div class="column catalog-column">
                <h2>{{ part.Brand }}</h2>
                <h2>{{ part.Name }}</h2>
                <img src="{{ part.Image.url }}">
                <p>Price: {{ part.Price }} €</p>
            </div>
        </a>
        {% if forloop.counter|divisibleby:"4" and not forloop.last %}
        </div><div class="row">
        {% endif %}

        {% endfor %}
    </div>
    
</div>

{% endblock content %}