{% extends "main/base.html" %}
{% load main_tags %}
{% block content %}

{% for message in message_text %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

<div class="content-section">
    <h2>Configure your PC build</h2>
    <p>Here you can pick the part you wish to be in your computer to get the optimal machine for you</p>
    <p>Current Price of build: {{ total }}</p>
    <div style="margin-bottom: 20px;">
        <form method="POST">
            {% csrf_token %}
            {% for key, parts in all_parts.items %}
                <p class="part-type">{{ key }}:</p>
                <div class="row" style="margin-bottom: 10px">
                {% for part in parts %}
                
                    <div class="column part-selector">
                        <label for="{{ part | get_class_name }}_{{ part.id }}">
                            {% with part|get_class_name|add:"-"|add:part.id as val %}
                            <input id = "{{ part | get_class_name }}_{{ part.id }}" name="{{ part | get_class_name }}" type="radio" value="{{ part | get_value }}"
                                {% if part|get_value in selections %} checked {% endif %}>
                            {% endwith %}
                            <i></i>
                            <span style = "float: right; font-size: 14px">+{{ part.Price }} €</span>
                        </label>
                        <a href="http://localhost:8000/catalog/{{ part | get_class_name }}/?itemID={{ part.id }}" target="_blank" class="detailsLink">
                            <div >
                                <p>{{ part.Brand }}</p>
                                <p>{{ part.Name }}</p>
                                <img src="{{ part.Image.url }}">
                            </div>
                        </a>
                    </div>
                {% if forloop.counter|divisibleby:"8" and not forloop.last %}
                </div><div class="row">
            {% endif %}
            {% endfor %}
                </div>
            {% endfor %}
            </div>
            <div>
                <button class="btn btn-outline-info" type="submit">Save Build</button>               
            </div>
        </form>
    </div>
</div>
{% endblock content %}
