{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='content-section'>
        <div>
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">Email:            {{ user.email }}</p>
            <p class="text-secondary">Name:             {{ user.first_name}} {{ user.last_name }}</p>
            <p class="text-secondary">Country:          {{ user.profile.Country }}</p>
            <p class="text-secondary">Delivery Adress:  {{ user.profile.Delivery_Address }}</p>
            <p class="text-secondary">Post_Code:        {{ user.profile.Post_Code }}</p>
            <p class="text-secondary">Phone Number:     {{ user.profile.Phone }}</p>
        </div>
        <div>
            <button class="btn btn-outline-info" type="submit" id="edit" onclick="Openform()">Edit</button>
            <button class="btn btn-outline-info" type="submit" onclick="Pass()">Reset Password</button>
            <button class="btn btn-outline-info" type="submit" onclick="Email()">Update Email</button>
        </div>
        <form method="POST" id="update" style="display:none">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ uu_form|crispy }}
                {{ pu_form|crispy}}
            </fieldset>
            <div>
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
    <script>
        function Openform()
        {
            if (document.getElementById('update').style.display == 'none'){
                document.getElementById('update').style.display = '';
            } else{
                document.getElementById('update').style.display = 'none';
            }
        }
        function Pass()
        {
            window.location.href = {% url 'password_reset' %}
        }
        function Email()
        {
            window.location.href = {% url 'email_update' %}
        }
    </script>
{% endblock content %}