{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <div class="content-section col-sm-8" style="float: left">
        <div>
            <h3>Place Your Order</h3>
        </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group", style="border-bottom: solid 1px black;">
                <legend class="border-bottom mb-4">Delivery and contact information</legend>
                {{ c_form|crispy }}
            </fieldset>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Payment information</legend>
                {{ p_form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-outline-info" type="submit">Finish checkout</button>
            </div>
        </form>
    </div>
    <div class="content-section col-sm-3" style="float: left; margin-left: 10px;">
        <table>
            <tr>
                <td style="width: 100px">Sub Total:</td>
                <td>{{ sub_total }} €</td>
            </tr>
            <tr>
                <td>Shipping Price:</td>
                {% if shipping_total == 0 %}
                    <td>FREE (for orders over 1500€)</td>
                {% else %}
                    <td>{{ shipping_total }} €</td>
                {% endif %}
            </tr>
            <tr>
                <td>Final Total:</td>
                <td>{{ final_total }}</td>
            </tr>
        </table>
    </div>
</div>

<script>
    document.getElementById('cardNR').addEventListener('input', function (e) {
    var target = e.target, position = target.selectionEnd, length = target.value.length;
  
    target.value = target.value.replace(/[^\d]/g, '').replace(/(.{4})/g, '$1 ').trim();
    target.selectionEnd = position += ((target.value.charAt(position - 1) === ' ' && target.value.charAt(length - 1) === ' ' && length !== target.value.length) ? 1 : 0);
    });

    document.getElementById('expDate').addEventListener('input', function (e) {
    var target = e.target, position = target.selectionEnd, length = target.value.length;
  
    target.value = target.value.replace(/[^\d]/g, '').replace(/(.{2})/g, '$1 ').trim();
    target.selectionEnd = position += ((target.value.charAt(position - 1) === ' ' && target.value.charAt(length - 1) === ' ' && length !== target.value.length) ? 1 : 0);
    });
    document.getElementById('CVV').addEventListener('input', function (e) {
        var target = e.target, position = target.selectionEnd, length = target.value.length;
  
        target.value = target.value.replace(/[^\d]/g, '').replace(/(.{4})/g, '$1 ').trim();
        target.selectionEnd = position += ((target.value.charAt(position - 1) === ' ' && target.value.charAt(length - 1) === ' ' && length !== target.value.length) ? 1 : 0);
    });
</script>
{% endblock content %}