{% extends "main/base.html" %}
{% load main_tags %}
{% block content %}
<div class="content-section">
    {% if builds %}
    <h2>These are your saved builds:</h2>
    <div>
        {% for build in builds %}
            <p class="part-type">Order {{ forloop.counter }} (config id = {{ build.confID }}), status - {{ build.status }}</p>
            <div class="row" style="margin-bottom: 10px">
            {% for part in build.parts %}
                <div class="column part-selector" style="height: 175px">
                    <a href="http://localhost:8000/catalog/?itemID={{ part.id }}" target="_blank" class="detailsLink">
                        <div >
                            <p>{{ part.Brand }}</p>
                            <p>{{ part.Name }}</p>
                            <img src="{{ part.Image.url }}">
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        <div style="margin-top: 10px;">
            <p>Total price of this build is {{ build.total }} €</p>
        </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
        <h2>You have no orders</h2>
    {% endif %}
</div>
{% endblock content %}
